%ul.testGraphs
  %h1 Options to try
  %li
    = link_to "CSS3", "http://thecodeplayer.com/walkthrough/css3-family-tree"
    = link_to "css_demo", css_demo_path
  %li
    = link_to "javascript infoviz toolkit", "http://philogb.github.com/jit/index.html"
  %li
    = link_to "abor", "http://arborjs.org/"
  %li
    = link_to "jquery org chart", "http://th3silverlining.com/2011/12/01/jquery-org-chart-a-plugin-for-visualising-data-in-a-tree-like-structure/"
